

table
{
  width: 100%;
  // border: 1px solid rgb(4, 106, 53);
}

.container {
  padding: 8px 24px;
  width: 80%;
  margin: auto;
}

h1 {
  color: rgb(4, 106, 53);
}

.backBtn {
  font-size: 10pt;
  margin: 16px;
}

.backBtn__container {
  vertical-align: middle;
}

