<div class="container">
  <a [routerLink]="['/']">
    <div class="backBtn">
      <span><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"/></svg></span>
      <span>Back</span>
    </div>
  </a>
  <div class="header">
    <h1>Details {{repositoryName}}</h1>
    <div>{{repository ? repository.description : null}}</div>
  </div>
  <div  style="width: 100%;">
    <form [formGroup]="searchForm">
      <mat-form-field>
        <mat-label>Search</mat-label>
        <input matInput type="text" formControlName="searchString" (keyup)="search()"/>
      </mat-form-field>
    </form>

    <table mat-table [dataSource]="results" class="mat-elevation-z8" cdkScrollable (scroll)="onTableScroll($event)">
      <ng-container matColumnDef="message">
        <th mat-header-cell *matHeaderCellDef> Message </th>
        <td mat-cell *matCellDef="let commit"> {{commit.commit.message}} </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let commit"> {{commit.commit.committer.date | date}} </td>
      </ng-container>

      <ng-container matColumnDef="committer">
        <th mat-header-cell *matHeaderCellDef> Committer </th>
        <td mat-cell *matCellDef="let commit">{{commit.commit.committer.name}}</td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]"
    [pageSize]="20"
    showFirstLastButtons></mat-paginator>
  </div>
</div>
